<section class="home-page">
  <div class="home-shell">
    <div class="hero">
      <!-- <p class="eyebrow">Accueil</p> -->
      <h1>Bienvenue sur votre espace e-commerce.</h1>
      <ng-container *ngIf="currentUser$ | async as currentUser">
        <p class="subtitle">
          Vous êtes connecté {{ currentUser.firstName }} {{ currentUser.lastName }}.
          Utilisez la barre latérale pour accéder au panier, aux produits,
          à la wishlist et à la page de contact.
        </p>
      </ng-container>
    </div>
  </div>
</section>
